[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
py-ms-consulate = {editable = true,extras = ["tests"],path = "."}

[packages]
py-ms-consulate = {editable = true, extras = ["unixsocket"],path = "."}

[pipenv]
allow_prereleases = true
